<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>article list</title>
</head>
<body>
    <h1>article listasdsd</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quasi, voluptatum dicta deserunt ratione odit rem in, magni reprehenderit aspernatur at nostrum expedita numquam tenetur asperiores cupiditate. Optio, sequi temporibus.</p>
</body>
</html>