<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
</head>
<body>
    <h1>about</h1> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, et. Eaque perspiciatis quasi reiciendis, nulla dolorum repellendus tempora cupiditate ipsum nobis dolorem possimus expedita, hic, quidem repudiandae officia architecto alias!</p>
</body>
</html>