{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>article list</title>
</head>
<body>
    <div class="wrapper">
        <h1><a href="{% url 'home' %}">LOGO</a></h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <form action="{% url 'accounts:logout' %}" method='post'>
                        {% csrf_token %}
                        <button type='submit'>logout</button>
                    </form>
                </li>
                <li>
                    <a href="{% url 'articles:create' %}">create article</a>
                </li>
                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">login</a> 
                    </li>
                    <li>
                        <a href="{% url 'accounts:signup' %}">sign up</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock  %}
    </div>
</body>
</html>