<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home page</title>
</head>
<body>
    <h1>this is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero qui est repellendus illum dicta totam non temporibus quaerat voluptate in recusandae, optio at natus quam earum dignissimos voluptates fugit laborum?</p>
</body>
</html>